body {
  font-family: sans-serif;
  background-color: #FFF;
}

* {
  margin: 0;
  padding: 0;
  color: #0d0d0d;
}
main {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;

}
#container {
  width: 60vw;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
}


.CTA {
  margin-top: 40px;
  height: 40px;
  line-height: 40px;
  padding: 5px 20px;
  border-radius: 15px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  color: #aaa;
  text-decoration: none;
}